glmnb_basic_trend_results_inclNonStudyAreaSites.docx
glmnb_basic_trend_results.docx
output1_aicc_tables.docx
output2_competitive_mods_table.docx
output3.docx
output3_mod_avg_plots.docx
output4_pop_change_tables.docx
output5_model_coef_table.docx
